.gradient-background {
  background: linear-gradient(300deg, #FF00CC, #91EAE4, #7F7FD5);
  background-size: 190% 180%;
  animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.body{

  display: flex;
  display: inline-block;

  align-items: center;
  justify-content: center;
}
.body1{

  display: flex;
  display: inline-block;
  
  align-items: center;
  justify-content: center;
}
.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 90%;
}


.myCard {
  background-color: transparent;

  width: 190px;
  height: 254px;
  perspective: 1000px;
}

.title{
  font-size: 1.5em;
  font-weight: 900;
  color: black;
  text-align: center;
  margin: 0;
}
.title1{
  list-style: none;
  text-align: start;
  
}

/* .innerCard {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.myCard:hover .innerCard {
  transform: rotateY(180deg);
}

.frontSide,
.backSide {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

.frontSide,
.frontSide::before {
    background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%);
}

.backSide,
.backSide::before {
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.backSide {
    transform: rotateY(180deg);
}

.frontSide::before,
.backSide::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(20px);
  animation: animate 5s linear infinite; */
}

@keyframes animate {
  0% {
      opacity: 0.3;
  }

  80% {
      opacity: 1;
  }

  100% {
      opacity: 0.3;
  }
}
#section{
  display: flex;
  justify-content: center;
}


.first {
  margin: 0px;
  padding: 0px;;
  background: transparent;
  list-style: none;
}

.first  {
  display: flex;
  position: absolute;
  top: 50%;
  left: 23%;
  transform: translate(-50%, -50%);
}

.first li {
  list-style: none;
}

.first li a {
  width: 80px;
  height: 80px;
  background-color: #fff;
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

.first li a .icon {
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3;
}

.first li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.first li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}

.first li a:hover:before {
  top: 0;
}
.first li:nth-child(1) a:before{
  background: #f00;
}

.first li:nth-child(2) a:before{
  background: #3b5999;
}

.first li:nth-child(3) a:before {
  background: #0077b5;
}
.first li:nth-child(4) a:before {
  background: #000000;
}
.first li:nth-child(5) a:before {
  background: #dd4b39;
}
.first li:nth-child(6) a:before {
  background: #000000;
}

.second{
  list-style: none;
  margin-bottom: 100px;
  }
.second li a{
  display: inline-block;
  margin: 10px 0;
  }
.second li a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  color: #fff;
  margin: 0 10px;
  padding: 10px 30px; I
  position: relative; 
}
.second li a:before {
  
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: #100806;
  z-index: -1;
  box-shadow: 0 0 10px #dc2f02,
              0 0 20px #dc2f02,
              0 0 40px #dc2f02,
              0 0 80px #dc2f02,
              0 0 100px #dc2f02;
  
  transition: 0.25;

  }
  .second .h a {
      color: #fff;
      font-size: 1.4rem;
      font: italic small-caps bold 16px/1.5 'Helvetica Neue', Arial, sans-serif;

  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
  }

  /* Optionally, you can add hover effect for better user experience */
  .second .h a:hover {
    color: black
  }
  .profile-img {
    border-radius: 100;
    height: 190px;
  }
  .pd-20px {
    padding: 10px;
  }
  


.playfair-display{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight:bolder;
  
}
.carousel{
  max-width: auto; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
    
}
/* Custom styles for the carousel images */
.carousel {
  max-width: 70%;
  max-height: 70%;
  width: auto;
  height: auto;
  margin: auto;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: grey; /* Set the background color */
  color: white; /* Set the text color */
}

.certificates{
  text-align: center;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight:bolder;
}